@page
@model MyHostel_Admin.Pages.Admin_Page.Amenities.CreateModel
@{
    Layout = "_LayoutAdmin";
}
<div class="page-breadcrumb">
    <div class="row align-items-center">
        <div class="col-6">
            
            <h1 class="mb-0 fw-bold">Create Amenity</h1>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="card">
        <div class="card-body">
            <form class="form-horizontal form-material mx-2" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Amenity.AmenitiyName" class="col-md-12"></label>
                    <div class="col-md-12">
                        <input asp-for="Amenity.AmenitiyName" type="text"
                               class="form-control form-control-line">
                    </div>
                    <span asp-validation-for="Amenity.AmenitiyName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <div class="col-sm-12">
                        <input type="submit" value="Save" class="btn btn-success text-white" />
                    </div>
                </div>
                @if (ViewBag.Alert != null)
                {
                    <span class="text-danger mb-3">@ViewBag.Alert</span>
                }
            </form>
        </div>
    </div>
</div>